{% extends 'base.html' %}
{% block content %}
    <div class="container mx-auto max-w-3xl pt-5">
        <h1 class="text-2xl text-neutral-800 dark:text-neutral-200 font-semibold">Artikel</h1>
        <p class="mt-2 mb-8 text-neutral-600 dark:text-neutral-400">
            Beberapa artikel yang saya tulis berdasarkan pembelajaran dan pengalaman. Semoga ada satu yang bisa menemanimu hari ini:
        </p>
        <ul class="space-y-2">
            {% for article in articles %}
                <li class="flex flex-col md:flex-row md:justify-between">
                    <a href="{% url 'article_detail' slug=article.slug %}"
                       class="max-w-md font-normal text-left md:text-justify text-neutral-800 dark:text-neutral-200">
                        <span class="text-emerald-800 dark:text-emerald-300 mr-2">•</span>{{ article.title }}
                    </a>
                    <span class="text-neutral-600 dark:text-neutral-400 text-sm">{{ article.date }}</span>
                </li>
            {% empty %}
                <li>Tidak ada artikel.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
