@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/GeistVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'GeistMono', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.quill > .ql-container {
  font-size: 20px;
}
.quill > .ql-container > .ql-editor.ql-blank::before {
  color: white;
}
