@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/GeistVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'GeistMono', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  --font-color: #52525b;
}

.dark {
  --font-color: #a3a3a3;
}

.quill > .ql-container {
  font-size: 16px;
  color: var(--font-color);
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  color: var(--font-color);
}

.text-content h1 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 26px;
}

.text-content h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 20px;
}

.text-content ul {
  list-style-type: disc;
  margin-left: 20px;
}

.text-content li {
  margin-bottom: 8px;
  color: var(--font-color);
}

.text-content ol {
  list-style-type: decimal;
  margin-left: 20px;
}
