{% extends 'base.html' %}

<!-- Meta SEO  -->

{% block seo %}
<title>Yuefii - Muhamad Mupid Ahmadiawan</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="Yuefii" />
<meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<meta name="description" content="Sebuah website yang berisi informasi tentang saya" />
<meta name="language" content="id" />
{% endblock %}

<!-- Content  -->

{% block content %}
<div class="h-screen flex flex-col items-center justify-center">
    <h1 class="text-4xl font-bold">Hello World</h1>
    <p class="text-gray-700">This is a simple website</p>
</div>
{% endblock %}
