<!DOCTYPE html>
<html lang="id" class="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static %}
        <link rel="stylesheet" href="{% static '/css/style.css' %}">
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static 'favicon/favicon-16x16.png' %}">
        <link rel="icon" href="{% static 'favicon/favicon.ico' %}">
        <link rel="manifest"
              href="{% static 'favicon/site.webmanifest' %}"
              type="application/manifest+json">
        <script>
        if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark')
        } else {
            document.documentElement.classList.remove('dark')
        }
        </script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script>tailwind.config = { darkMode: 'class' }</script>
        {% block seo %}{% endblock %}
    </head>
    <body class="bg-neutral-100 dark:bg-neutral-900">
        {% include 'navbar.html' %}
        <main>
            {% block content %}{% endblock %}
        </main>
        {% include 'footer.html' %}
    </body>
</html>
