{% load static %}
<footer class="py-12">
    <div class="max-w-3xl container mx-auto border-t border-neutral-200 dark:border-neutral-700">
        <div class="flex flex-col md:flex-row justify-between items-center pt-10 mb-6">
            <div class="flex gap-x-4 mb-4 md:mb-0 dark:invert">
                <a href="https://www.linkedin.com/in/muhamad-mupid-ahmadiawan-3b2a95292">
                    <img class="w-6 h-6"
                         src="{% static 'icons/linkedin-brands.svg' %}"
                         alt="linkedin" />
                </a>
                <a href="https://www.instagram.com/yuefii_">
                    <img class="w-6 h-6"
                         src="{% static 'icons/instagram-brands.svg' %}"
                         alt="instagram" />
                </a>
                <a href="https://www.tiktok.com/@yuefii_">
                    <img class="w-6 h-6"
                         src="{% static 'icons/tiktok-brands.svg' %}"
                         alt="tiktok" />
                </a>
                <a href="https://github.com/yuefii">
                    <img class="w-6 h-6"
                         src="{% static 'icons/github-brands.svg' %}"
                         alt="github" />
                </a>
            </div>
            <div class="flex gap-x-6">
                <a href="/articles" class="text-neutral-600 dark:text-neutral-400">Articles</a>
                <a href="/about" class="text-neutral-600 dark:text-neutral-400">About Me</a>
                <a href="/projects" class="text-neutral-600 dark:text-neutral-400">Projects</a>
            </div>
        </div>
        <div class="flex flex-col md:flex-row justify-between items-center text-sm text-neutral-600 dark:text-neutral-400">
            <p class="mb-2 md:mb-0">Built with Django, Tailwind and Vercel</p>
            <p>&copy;2024 All rights reserved.</p>
        </div>
    </div>
</footer>
